.answers {
    height: 100%;
    margin:40px 8%;
    border: 2px solid #f84480;
    padding: 50px;
    border-radius:5px;
}

.answered_author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.answered_authorAbout {
    text-align: right;
    font-size: 14px;
}

.answered_authorName {
    color: #4cc9f0;
}

.answered_authorName:hover {
    color: #47badd;
}

.answered_authorTime {
    font-size: 12px;
}

.answered_authorImg {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

@media only screen and (max-width: 768px){
    .answers {
        height: 100%;
        margin:20px 8%;
        border: 2px solid #4e59f3;
        padding: 20px;
        border-radius:5px;
    }
    .answered_author {
        margin-top: 20px;
    }
}