.form {
    font-size: large;
    background-color: rgba(67, 97, 238, 1);
    margin: 5rem;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px gray;
    height: fit-content;
    margin-top: auto;
}


.form p {
    margin-top: 5px;
    color: white;
}

.form_section {
    width: 100%;
    height: 100%;
}

.form_section img { 
    vertical-align: middle;
    width: 30%;
}