.login_container{
    height: 50%;
    width: 50%;
    margin-left: 27%;
    margin-top: 100px;
    padding: 40px;
    border-radius: 7px;
    border: 1px solid gray;
    background-color: antiquewhite;
}
.submit-btn{
    margin-top: 20px;
}