.navbar {
    background: rgb(58, 12, 163);
    background: linear-gradient(90deg, rgba(58, 12, 163, 1) 0%, rgba(63, 55, 201, 1) 50%, rgba(67, 97, 238, 1) 100%);
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    font-weight: bolder;

    /*** gradient ***/
    /* background: -webkit-linear-gradient(#f72585, #480ca8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.navbar-brand .navbar__brandText {
    color: #fff;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.navbar__list ul li {
    color: #fff !important;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
}
