.course-container{
    max-width: 809px;
}



.course-data-container{
    display: grid;
   grid-template-columns: repeat(4, 1fr);
}


@media (max-width: 450px) {
    .course-data-container{
        display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

  }

  @media (max-width: 700px) {
    .course-data-container{
        display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

  }