.questionTabs .tabs{
    border-bottom: 1px solid #ddd;
    list-style: none;
    display: flex;    
}

.tab{
    
    border-right: 2px solid #ddd;
    padding: 5px;
}


ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40%;
}
#search {
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 50vh;
}
#search-btn{
    margin-right: 10px;
}
/* .questionActions {
    overflow: hidden;
    margin: 0 0 20px;
}
.searchQuestion #tagsInput {
    padding: 8px 25px 9px 9px;
    border: 1px solid #dedede;
    border-right: none;
    outline: none;
    width: 290px;
} */