.detail_container{
    height: 100%;
    margin:40px 8%;
    border: 2px solid #154A73;
    padding: 50px;
    border-radius:5px;
}

.tag_div p{
    margin-right: 10px;
    background-color: #1abc9c;
    border-radius: 4px;
    padding: 3px 5px;
    color: #fff;
}

.detail_div {
    margin: 20px 0px 20px 0px;
}

.question__author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question__authorAbout {
    text-align: right;
    font-size: 14px;
}

.question__authorName {
    color: #4cc9f0;
}

.question__authorName:hover {
    color: #47badd;
}

.question__authorTime {
    font-size: 12px;
}

.question__authorImg {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .detail_container{
        height: 100%;
        margin:40px 8%;
        border: 2px solid #154A73;
        padding: 50px;
        border-radius:5px;
    }    
}